<section class="city_item">
    <section id="{{ id }}" class="map"></section>
    <article class="city_item_description">
        <h4 class="city_title">{{ label.[0].value }}</h4>
        {{{ description.[1].value }}}
    </article>
</section>

