body {
    font-family: Sans-serif;
    font-size: 12px;
    background-color: #CCCCCC;

    .container {
        
        .header {
            position: fixed;
            top: 0;
            left: 0;
            padding: 20px 10px;
            margin-bottom: 100px;
            margin-top: 0px;
            width: 100%;
            z-index: 2;
            box-shadow: 0 0 4px #666666;
            background: #CCCCCC;
        }

        .items {
            margin-top: 70px;
        }
    }
}

.map {
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 0 3px #666666;
}

.city_item {
    width: 80%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCCCCC;

    .city_title {

    }

    .city_item_description {
        position: absolute;
        z-index: 1;
        top: 10px;
        background: #FFFFFF;
        color: #FFFFFF;
        padding: 10px;
        width: 200px;
        right: 10px;
        height: 155px;
        text-align: justify;
        background: url('http://localhost:2770/src/img/desc_bg.png') repeat;
    }
}
